* {
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.status {
    width: 132px !important;
    display: inline;
}

.empstatus{
    width: 94px !important;
    display: inline !important;
}
.btn-success {
    display: inline;
}

.brand-name {
    font-size: 16px !important;
}



